{% extends "layout.html" %}

{% block title %} Logout {% endblock %}

{% block content %} 

<h1 class="text-4xl text-center mt-20">Are you sure you want to logout?</h1>
<form method="POST">
    {% csrf_token %}
    <div class="mt-10 flex justify-center">
        <button type="submit" class="py-2 px-6 border text-gray-800 border-gray-800 rounded-lg hover:bg-red-800 hover:text-white transition duration-300">
            Logout
        </button>
        <a href="{% url 'home' %}" class="ml-5 lg:mt-0 mt-4 py-2 px-6 border text-gray-800 border-gray-800 rounded-lg hover:bg-gray-800 hover:text-white transition duration-300">
            Cancel
        </a>
        </div>
</form>


{% endblock %}