{% extends "layout.html" %}
{% load tailwind_filters %}

{% block title %} Register {% endblock %}

{% block content %} 
<h1 class="mt-6 text-center text-3xl font-semibold">Create An Account</h1>
<form method="POST" class="my-10 lg:mx-80 mx-20 bg-gray-200 p-10 rounded-xl">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="mt-10 flex justify-center">
    <button type="submit" class="py-2 px-6 border text-gray-800 border-gray-800 rounded-lg hover:bg-gray-800 hover:text-white transition duration-300">
        Register
    </button>
    </div>
</form>
<div>
    <p class="text-center font-semibold text-lg mb-5">Already have an account? <a href="{% url 'login' %}" class="font-bold hover:text-blue-600"> Login </a></p>
</div>


{% endblock %}