{% extends "layout.html" %}
{% load tailwind_filters %}

{% block title %} Add Product {% endblock %}

{% block content %} 
<h1 class="mt-6 text-center text-3xl font-semibold">Add Product</h1>
<form method="POST" class="my-10 lg:mx-80 mx-20 bg-gray-200 p-10 rounded-xl">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="mt-10 flex justify-center">
    <button type="submit" class="py-2 px-6 border text-gray-800 border-gray-800 rounded-lg hover:bg-gray-800 hover:text-white transition duration-300">
        Save
    </button>
    </div>
</form>

<footer  class="mt-10 bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <div class="flex lg:flex-row lg:justify-between flex-col justify-center items-center w-full">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="{% url 'home' %}">Inventory System™</a> | All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="{% url 'contact' %}" class="mr-4 hover:text-blue-600 md:mr-6">Contact</a>
        </li>
        <li>
            <a href="{% url 'logout' %}" class="hover:text-red-600">Logout</a>
        </li>
    </ul>
  </div>
  </footer>


{% endblock %}