{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block content %} 

<h1 class="text-6xl text-center mx-10 lg:mx-40 my-10">Welcome to the Inventory Management System</h1>
<h2 class="text-2xl font-semibold text-gray-600 text-center">Manage your products more efficiently and effictively!</h2>
<div class="border-b-2 border-gray-600 mx-10 lg:mx-48 my-10"></div>
<p class="text-xl text-center text-gray-800">
    Use the navigation bar to add products, update products, or delete them. Also, see all your products in the products page.
</p>
<div class="mt-12 flex justify-center">
  <a href="{% url 'products' %}" class="py-4 px-8 border text-gray-800 border-gray-800 rounded-lg hover:bg-gray-800 hover:text-white transition duration-300">
    View Products
  </a>  
</div>
<!-- <p class="mt-5 text-center font-semibold">You are logged in as <span class="font-bold">{{request.user.username}}</span></p>
<div class="mt-2 flex justify-center">
<a href="{% url 'logout' %}" class="py-4 px-8 border text-gray-800 border-gray-800 rounded-lg hover:bg-gray-800 hover:text-white transition duration-300">Logout</a>
</div> -->

<footer  class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
  <div class="flex lg:flex-row lg:justify-between flex-col justify-center items-center w-full">
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="{% url 'home' %}">Inventory System™</a> | All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="{% url 'contact' %}" class="mr-4 hover:text-blue-600 md:mr-6">Contact</a>
      </li>
      <li>
          <a href="{% url 'logout' %}" class="hover:text-red-600">Logout</a>
      </li>
  </ul>
</div>
</footer>




{% endblock %}